#quick-jump {
  background: #5e2f46;
  color: #ffffff;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  left: 50%;
  margin: 0 0 0 -150px;
  padding: 20px;
  position: fixed;
  top: 30%;
  width: 300px;
  z-index: 999;

  background-color: rgb(94, 47, 70);
  background-color: rgba(94, 47, 70, 0.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e2f4600, endColorstr=#5e2f4600);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e2f4600, endColorstr=#5e2f4600)";

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quick-jump .form-item {
  margin: 0;
}
#quick-jump label {
  color: #ffffff;
  margin: 0 0 5px 0;
}
#quick-jump .form-text,
#quick-jump .form-autocomplete,
#quick-jump .form-text.form-autocomplete {
  background-color: #ffffff;
  background-position: 100% 6px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 4px;
  width: 95%;
}
#quick-jump span.data-type {
  color: #999999;
  font-size: 0.8em;
}